<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- Container -->
	<h2>공지사항</h2>
	<!--Content-->
	<div>
		<div>
			<table>
				<caption>공지사항</caption>
				<colgroup>
					<col width="5%">
					<col width="15%">
					<col width="">
					<col width="10%">
					<col width="10%">
				</colgroup>
				<thead>
					<tr>
						<th>번호</th>
						<th>작성자</th>
						<th>제목</th>
						<th>작성일</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="boardList : ${boardList}">
						<td th:text="${boardList.board_id}"></td>
						<td th:text="${boardList.member_id}"></td>
						<td th:text="${boardList.title}"></td>
						<td th:text="${boardList.reg_date}"></td>
						<td th:text="${boardList.views}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--//Content-->
	</div>
	</main>
	<!--//Container-->


</body>
</html>